* {
  background-color: black;
}
#logo {
  background: none;
  float: left;
}
#logo img {
  background: none;
  margin-top: 0.5%;
}
#topnav {
  padding: 20px;
  float: right;
  color: grey;
}
a {
  box-shadow: 10px 5px 5px grey;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  display: inline;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
#intro {
  background-image: url("../images/bg4.jpeg");
  background-size: cover;
  text-align: center;
  background-position: center;
  height: auto;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-style: bold oblique;
}
#intro h1 {
  background: none;
  margin-top: 8%;
  margin-bottom: 8%;
}
#menu {
  margin-right: auto;
  margin-left: auto;
  image-orientation: center;
  text-align: center;
}
#menu h3 {
  margin-top: 3%;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
  color: orangered;
}
#vmenu {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}
.col-md-4 h5 {
  margin-top: 3%;
}
#pepperoni {
  text-align: center;
  color: white;
}
#pepperoni img {
  width: 90%;
}

#vegetable {
  text-align: center;
  color: white;
}
#vegetable img {
  width: 90%;
}
#vegetable p {
  margin-bottom: 5%;
}
#hawaiian {
  text-align: center;
  color: white;
}
#hawaiian img {
  width: 90%;
}
#hawaiian p {
  margin-bottom: 5%;
}
.form {
  display: none;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
#btnorder {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
}
#info {
  font-size: 16px;
  color: orangered;
  width: 99%;
}
td,
th {
  font-size: 16px;
  color: yellow;
}

#orders {
  color: white;
  font-size: 16px;
}
.choice {
  display: none;
}
#deliveryprice {
  display: none;
}
#pizzatotal {
  display: none;
}
#checkout {
  display: none;
}
.delivery {
  display: none;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}
.delivery p {
  margin-top: 3%;
  color: yellow;
  font-size: 16px;
  text-align: center;
}
#deliverymessage {
  display: none;
  color: yellow;
}
#order_received {
  font-size: 25px;
  color: yellow;
}
#contacts {
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}
#contactUs {
  margin-right: auto;
  margin-left: auto;
}

form input {
  width: 36%;
  background: whitesmoke;
  border-radius: 50px;
}
form textarea {
  background: whitesmoke;
  border: 1px solid white;
  color: white;
  transition: all 0.4s ease;
  margin-top: 25px;
  margin-bottom: 4%;
  width: 65%;
}
::placeholder {
  color: black;
}

form input:focus,
textarea:focus {
  background: linear-gradient(to right, lightgrey, white);
  color: black;
  transform: scale(1);
  border: transparent;
}
form input[type="submit"] {
  color: whitesmoke;
  background: rgb(224, 163, 82);
  margin-bottom: 1%;
  border-radius: 50px;
  font-size: 1.5em;
}
form input[type="submit"]:hover {
  background: silver;
  border-radius: 35px;
  outline: none;
}

#vee_details {
  color: yellow;
}
#vee_details h3 {
  color: white;
}
