* {
  background-color: black;
}
#logo {
  background: none;
  float: left;
}
#logo img {
  background: none;
  margin-top: 0.5%;
}
#topnav {
  padding: 20px;
  float: right;
  color: grey;
}
a {
  box-shadow: 10px 5px 5px grey;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  display: inline;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
#intro {
  background-image: url("../images/bg4.jpeg");
  background-size: cover;
  text-align: center;
  background-position: center;
  height: auto;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-style: bold oblique;
}
#intro h1 {
  background: none;
  margin-top: 8%;
  margin-bottom: 8%;
}
